#root {
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 0 4rem 0;
}

.app-header {
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: baseline;
}

.app-container {
  padding: 1rem 3rem;
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 2rem;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  height: 80vh;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

h1 {
  padding-left: 1.5rem;
  font-weight: 100;
  font-style: italic;
}

h2 {
  font-size: 2.5rem;
  font-weight: 100;
}

.table-container {
  max-height: 65vh;
  overflow-y: auto;
  border-radius: 2rem;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
}

.user-table {
  width: 100%;
  border-spacing: 0 0.75rem;
  padding: 2rem;
}

.user-table thead {
  border-bottom: 1px solid rgba(0,0,0,0.08);
  position: sticky;
  top: 0;
}

.user-table thead.sticky {
  background: black;
  color: lightgray;
  z-index: 1;
  border-radius: 2rem;
}

th {
  font-weight: 400;
}

tr td,
tr th {
  font-size: .9em;
  font-weight: 100;
}

tr th {
  font-weight: 500;
}

.user-table th,
.user-table td {
  padding: 0.5rem 0.75rem;
  text-align: left;
}

.user-table tbody tr {
  display: table-row;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  box-shadow: none;
  overflow-x: auto;
}

.user-table tbody tr th,
.user-table tbody tr td {
  background: transparent;
  border: 1px solid rgba(255,255,255,0.12);
}

.user-table tbody tr th + th,
.user-table tbody tr th + td,
.user-table tbody tr td + th,
.user-table tbody tr td + td {
  border-left-color: transparent;
}

.user-table tbody tr th:first-child,
.user-table tbody tr td:first-child {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
.user-table tbody tr th:last-child,
.user-table tbody tr td:last-child {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

@media (max-width: 40em) {
  .user-table thead {
    display: none;
  }
  .user-table tbody tr {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 1rem 1rem;
    padding: 1.75rem;
  }
  .user-table tbody tr th[scope="row"] {
    font-weight: 300;
    grid-column: 1 / -1;
  }
  .user-table tbody tr td {
    text-align: left;
  }
}

.search-form {
  margin-bottom: 0.75rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: flex-end;
  border-radius: 0.5rem;
  width: 33rem;
}

.search-input {
  padding: 1rem 1.5rem;
  flex: 1;
  max-width: 22.5rem;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 3rem;

}

.search-button {
  padding: 1rem 1.5rem;
  cursor: pointer;
  background: black;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 3rem;
  color: lightgray;
}

.table-container {
  overflow-x: auto;
}
.error-message {
  color: red;
}

.pipeline-health {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;
  margin-bottom: 0.75rem;
  margin-right: 1.5rem;
}

.status-indicator {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  display: inline-block;
}

.status-indicator.passing {
  background: green;
}

.status-indicator.failing {
  background: red;
}

.status-indicator.unknown {
  background: gray;
}

.pipeline-health-text {
  font-weight: 300;
}

.sr-only {
  position: absolute !important;
  height: 0.0625rem; width: 0.0625rem;
  overflow: hidden;
  clip: rect(0.0625rem, 0.0625rem, 0.0625rem, 0.0625rem);
  white-space: nowrap;
}
